@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #12cd60, #21e7ee); /*23a89b*/
}

#titulo
{
    width: 319px;
    height: 71px;
    left: 560px;
    margin-top: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    
    letter-spacing: -0.015em;
    color: #000000;
}
#preencha
{

width: 437px;
height: 81px;
text-align: center;
font-weight: 600;
font-size: 22px;
line-height: 72px;

letter-spacing: -0.015em;

color: #000000;
}

.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form{
    width: 600px;
}

form input{
    height: 30px;
    padding-left: 8px;
    margin: 5px;
}
form select{
    height: 30px;
    padding-left: 8px;
    margin: 5px;
}

.divinput{
    width: 100%;
}

.divinput input#nome{
    width: 60%;
}

.divinput input#telefone{
    width: 40%;
}

.divform{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.valor{
    width: 100%;
}
.valor select{
    width: 80%;
}
.imagens img{
    margin-top: 60px;
    width: 40px;
    height: 40px;
}
#email{
    width: 100%;
}

button{
    cursor: pointer;
    height: 30px;
    background-color: #18A0FB;
    color: #fff;
    border: none;
}

button:hover{
    background-color: #136ec9;
}