.card-wrapper{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.card-inst{
    border: 2px solid #000;

    /*margin-left: 2vw;
    margin-bottom: 3vh;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20vw;
}

.nome-inst{

}

.logo-inst{
    width: 20%;
    height: 20%;
}

.btn-inst{

}