.main-title{
    padding-bottom: 5px;
}

.processa-body{
    background-color: #023047;
    text-align: center;
}

.bcg-recibo{
    margin: auto;
    display: inline-block;
   
    text-align: center;

    margin-top: 60px;
    padding: 30px;

    font-weight: 300;

    background-color: #ffffff;

    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.img-check{
    width: 200px;
    height: 200px;
    padding: 20px;
}

.transacao-sucesso{
    font-size: 140%;
}

.comprovante-email{
    font-size: 90%;
    color: rgb(53, 49, 49);
}